.bouton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.container {
  padding: 20px;
}
input[type="radio"] {
  display: none;
}
img {
  padding: 5px;
  margin: 5px;
}
input[type="radio"]:checked + img {
  background-color: #aaa;
}


body { margin: 0; background: #333; }
selects {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
selects div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
selects div:hover {
  opacity: .5;
}
selects div img {
  width: 100%;
  height: auto;
  border: 5px solid black;
}
@media screen and (max-width: 400px) {
  header div { margin: 0; }
  header { padding: 0; }

}

h2 {
  color: White;
  text-align: center;
}
/**************
- Subclass Modal
***************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #333;
    margin: auto;
    border: 2px solid black;
    width: 55%;

}


.modalImgs > img {
  border: 2px solid black;
  padding: 0;
}
