<h2>Choose Your Robot</h2>

<selects>
<div ng-repeat="type in Classes">
<div><img src="{{type.image}}" ng-click="ClassSelect(type)" alt="{{type.name}}"></div>
</div>


  <!-- images placed inside block elements to deal with a Firefox rendering bug affecting  scaled flexbox images -->
</selects>


<div id="subClassPopup" class="modal">

  <!-- Modal content -->
    <div class="modal-content">
  <div class="row">
    <div ng-repeat="type in subClass">
     <div class="col-md-5">
       <div class="modalImgs"><img src="{{type.image}}" ng-click="ModelSelect(type)" width="325" height="300"></div>
   </div>
 </div>
 </div>
 </div>
